body {
    font-family: Arial, sans-serif;
    background-color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}

    button:hover {
        background-color: #3e8e41;
    }

p {
    font-size: 20px;
    margin-top: 10px;
}

#mensaje {
    font-weight: bold;
}

#puntaje {
    font-weight: bold;
}

#puntaje-alto {
    font-weight: bold;
}

#intentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

#intentos li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
}


