@model Lab.EF.MVC.Models.CategoriesViewModel
@{
    ViewBag.Title = "Insert";
}

<h2>Agregar</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.IdCategoria)
    @Html.LabelFor(m => m.NombreCategoria)
    <br />
    @Html.EditorFor(m => m.NombreCategoria)
    <input type="submit" value="Agregar" />
}
